# Ignorar arquivos temporários e específicos do sistema
.DS_Store
.vscode/

# Ignorar o ambiente virtual do Conda
/projeto-boston-housing/

# Ignorar o modelo gerado pelo script
/models/trained_model.pkl

# Ignorar o cache do Python
__pycache__/
*.pyc
tempCodeRunnerFile*

# Ignorar os dados processados gerados
/data/processed/HousingData.csv